[flake8]
max-line-length = 100
exclude = .git, venv, .venv, .pytest_cache, dist, .idea, docs/conf.py, weaviate/collections/orm.py, weaviate/collections/classes/orm.py, weaviate/proto/**/*.py
ignore = D100, D104, D105, D107, E203, E266, E501, E704, E731, W503
per-file-ignores =
    weaviate/cluster/types.py:A005
    weaviate/collections/classes/types.py:A005
    weaviate/collections/collections/__init__.py:A005
    weaviate/collections/__init__.py:A005
    weaviate/types.py:A005
    weaviate/warnings.py:A005

# D100: Missing docstring in public module
# D104: Missing docstring in public package
# D105: Missing docstring in magic method
# D107: Missing docstring in __init__
# E704: Multiple statements on one line (def)

