.venv
venv
.idea
dist/
weaviate_client.egg-info
**/__pycache__
tmp
build/
docs/_build
*.pyc
./docker-compose.yml
.DS_Store
.ipynb_checkpoints
*.ipynb
nohup.out
.coverage
coverage.xml
.pytest_cache
.mypy_cache

image.png
.vscode/
scratch/

*-test.sh