exclude: ^proto/
repos:
- repo: local
  hooks:
    - id: stubs-autogen
      name: stubs-autogen
      language: system
      entry: ./tools/stubs_regen.sh

- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.11.7
  hooks:
    # Run the linter.
    - id: ruff
      args: [ weaviate, integration, test, mock_tests, journey_tests, --fix ]
    # Run the formatter.
    - id: ruff-format
      args: [ weaviate, integration, test, mock_tests, journey_tests ]

- repo: https://github.com/PyCQA/flake8
  rev: 7.3.0
  hooks:
    - id: flake8
      name: linting
      additional_dependencies: [
        'flake8-bugbear==24.12.12',
        'flake8-comprehensions==3.17.0',
        'flake8-builtins==3.0.0'
      ]
    - id: flake8
      name: docstrings
      additional_dependencies: [
        'flake8-docstrings==1.7.0',
        'pydoclint==0.7.3',
      ]

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
    - id: no-commit-to-branch
    - id: trailing-whitespace

- repo: local
  hooks:
    - id: pyright
      name: pyright
      entry: pyright
      language: node
      pass_filenames: false
      types: [python]
      additional_dependencies: [pyright@1.1.400]
