httpx==0.26.0
validators==0.34.0
authlib==1.6.5
grpcio==1.66.2
grpcio-tools==1.66.2
grpcio-health-checking==1.66.2
pydantic==2.8.0
deprecation==2.1.0

build
twine
wheel
importlib_metadata==8.7.0
setuptools_scm
Sphinx>=7.0.0
sphinx-rtd-theme==3.0.2
autodoc-pydantic==2.2.0
importlib_metadata==8.7.0

tomli==2.2.1
types-protobuf==6.30.2.20250703
types-urllib3==1.26.25.14
typing_extensions==4.14.1

pre-commit
flake8
flake8-bugbear==24.12.12
flake8-comprehensions==3.17.0
flake8-builtins==3.0.0
flake8-docstrings==1.7.0
pydoclint==0.7.3
ruff==0.12.8
